[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-lisp/combobulate"]
	path = site-lisp/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "site-lisp/emacs-eat"]
	path = site-lisp/emacs-eat
	url = https://codeberg.org/akib/emacs-eat.git
[submodule "site-lisp/crux-yx"]
	path = site-lisp/crux-yx
	url = https://github.com/xplutoy/crux-yx.git
[submodule "site-lisp/eshell-git-prompt-yx"]
	path = site-lisp/eshell-git-prompt-yx
	url = https://github.com/xplutoy/eshell-git-prompt-yx.git
[submodule "site-lisp/sr-speedbar-yx"]
	path = site-lisp/sr-speedbar-yx
	url = https://github.com/xplutoy/sr-speedbar-yx.git
[submodule "site-lisp/org-project-yx"]
	path = site-lisp/org-project-yx
	url = https://github.com/xplutoy/org-project-yx.git
[submodule "site-lisp/define-repeat-map.el"]
	path = site-lisp/define-repeat-map.el
	url = https://tildegit.org/acdw/define-repeat-map.el.git
